# Python cache and compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env/
.env*/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# IDE settings
.vscode/
.idea/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
